<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.atcrowdfunding.manager.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.atcrowdfunding.bean.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.atcrowdfunding.bean.Role" >
    insert into t_role (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.atcrowdfunding.bean.Role" >
    update t_role
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultType="com.atguigu.atcrowdfunding.bean.Role" parameterType="java.lang.Integer" >
    select id, name
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.atguigu.atcrowdfunding.bean.Role" >
    select id, name
    from t_role
  </select>

  <select id="queryRole" resultType="com.atguigu.atcrowdfunding.bean.Role">
    select * from t_role limit ${startIndex},#{pagesize}

  </select>
  <select id="queryTotalSize" resultType="int">
    select count(*) from t_role
  </select>

  <select id="queryRoleByMap" resultType="com.atguigu.atcrowdfunding.bean.Role" parameterType="map">
    select * from t_role
    <where>
      <if test="seachText!=null">
        name like concat("%",#{seachText},"%")
      </if>
    </where>
    limit ${startIndex},#{pagesize}
  </select>

  <select id="queryTotalSizeByMap" resultType="integer" parameterType="map">
    select count(*) from t_role
    <where>
      <if test="seachText!=null">
        name like concat("%",#{seachText},"%")
      </if>
    </where>
  </select>

  <insert id="doAdd" parameterType="string">
    insert into t_role(name) values (#{name})
  </insert>

  <select id="queryRoleByid" parameterType="integer" resultType="com.atguigu.atcrowdfunding.bean.Role">
    select * from t_role where id=#{id}
  </select>

  <update id="updateRole" parameterType="com.atguigu.atcrowdfunding.bean.Role">
    update t_role set name =#{name} where id=#{id}
  </update>

  <delete id="deleteBathById">
    delete from t_role where id in
    <foreach collection="datas" open="(" separator="," close=")" item="role">
      #{role.id}
    </foreach>
  </delete>

  <delete id="deleteRolePermission" parameterType="integer">
    delete from t_role_permission where roleid = #{roleId}
  </delete>

  <insert id="insertRolePermission">
    <foreach collection="model.ids" separator=";" item="id">
      insert into t_role_permission(roleid,permissionid) values (#{roleId},#{id})
    </foreach>
  </insert>

</mapper>